@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* * {
    border: red 1px solid;
} */

.genre-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}


.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keys {
    border: black solid 0.2px;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    box-shadow: 0.2px 0.2px 0.2px 0.2px;
}

.keys:hover {
    cursor: pointer;
    scale: 1.2;
}

.keys h1 {
    font-size: x-large;
}

body {
  display: flex;
  justify-content: center;
}

#user-interface {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mixer {
  background-color: #c5c5c5;
  width: 75%;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.metric-channel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metric-channel > label {
  font-size: 2em;
}

#mixer .slider {
  appearance: slider-vertical;
  -moz-appearance: slider-vertical;
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

#auxiliary {
  background-color: #c5c5c5;
  width: 75%;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
}